Repository zhongwencool/emqx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emqx/emqx-review-board, @lafirest, @JimMoen, @savonarola, @sstrigler, @kjellwinblad, @Rory-Z, @Meggielqk

.github/CODEOWNERS:

## Default
* @emqx/emqx-review-board

## apps
/apps/emqx/                @emqx/emqx-review-board @lafirest
/apps/emqx_authn/          @emqx/emqx-review-board @JimMoen @savonarola
/apps/emqx_authz/          @emqx/emqx-review-board @JimMoen @savonarola
/apps/emqx_connector/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard/      @emqx/emqx-review-board @JimMoen @lafirest
/apps/emqx_exhook/         @emqx/emqx-review-board @JimMoen @lafirest
/apps/emqx_gateway/        @emqx/emqx-review-board @lafirest
/apps/emqx_management/     @emqx/emqx-review-board @lafirest @sstrigler
/apps/emqx_plugin_libs/    @emqx/emqx-review-board @lafirest
/apps/emqx_plugins/        @emqx/emqx-review-board @JimMoen
/apps/emqx_prometheus/     @emqx/emqx-review-board @JimMoen
/apps/emqx_psk/            @emqx/emqx-review-board @lafirest
/apps/emqx_retainer/       @emqx/emqx-review-board @lafirest
/apps/emqx_rule_engine/    @emqx/emqx-review-board @kjellwinblad
/apps/emqx_slow_subs/      @emqx/emqx-review-board @lafirest
/apps/emqx_statsd/         @emqx/emqx-review-board @JimMoen

## CI
/deploy/  @emqx/emqx-review-board @Rory-Z

## @Meggielqk owns all files in any i18n directory anywhere in the project
/i18n/ @Meggielqk

## no owner for changelogs, anyone can approve
/changes

docs: add language selection to the document
  README-CN.md
  README-RU.md
  README.md
Owners: @emqx/emqx-review-board

feat: do not fail on other nodes when the RPC succeeds on the first node
  apps/emqx/include/emqx.hrl
  apps/emqx/src/emqx.erl
  apps/emqx/src/emqx_config_handler.erl
  apps/emqx/test/emqx_config_handler_SUITE.erl
  apps/emqx/test/emqx_listeners_SUITE.erl
  apps/emqx_auth/src/emqx_authz/emqx_authz.erl
  apps/emqx_conf/src/emqx_cluster_rpc.erl
  apps/emqx_conf/test/emqx_cluster_rpc_SUITE.erl
  apps/emqx_management/src/emqx_mgmt_api_plugins.erl
  apps/emqx_management/test/emqx_mgmt_cli_SUITE.erl
  apps/emqx_resource/src/emqx_resource.erl
  apps/emqx_rule_engine/src/emqx_rule_engine.erl
Owners: @emqx/emqx-review-board, @lafirest, @sstrigler, @kjellwinblad

test: add authz test case
  apps/emqx_auth/test/emqx_authz/emqx_authz_api_cluster_SUITE.erl
Owners: @emqx/emqx-review-board

fix: don't override authn users when import_user from authn.boostrap_file
  apps/emqx_auth/test/data/user-credentials-plain_v2.csv
  apps/emqx_auth_mnesia/src/emqx_authn_mnesia.erl
  apps/emqx_auth_mnesia/test/emqx_authn_mnesia_SUITE.erl
  rel/i18n/emqx_authn_mnesia_schema.hocon
Owners: @emqx/emqx-review-board

fix(lwm2m): add hex write encoding support
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_cmd.erl
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_session.erl
  apps/emqx_gateway_lwm2m/test/emqx_lwm2m_SUITE.erl
Owners: @emqx/emqx-review-board

fix(lwm2m): support auto_observe list config
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_schema.erl
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_session.erl
  apps/emqx_gateway_lwm2m/test/emqx_lwm2m_SUITE.erl
  rel/i18n/emqx_lwm2m_schema.hocon
Owners: @emqx/emqx-review-board

fix(lwm2m): keep update publish default always
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_schema.erl
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_session.erl
  apps/emqx_gateway_lwm2m/test/emqx_lwm2m_SUITE.erl
Owners: @emqx/emqx-review-board

fix(lwm2m): add coap_max_block_size config
  apps/emqx_gateway_coap/src/emqx_coap_frame.erl
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_schema.erl
  apps/emqx_gateway_lwm2m/test/emqx_lwm2m_SUITE.erl
  rel/i18n/emqx_lwm2m_schema.hocon
Owners: @emqx/emqx-review-board

docs(lwm2m): add v4-compatible example config
  apps/emqx_gateway/etc/emqx_gateway.conf.example
Owners: @emqx/emqx-review-board, @lafirest

fix(lwm2m): support legacy mountpoint placeholders
  apps/emqx/src/emqx_mountpoint.erl
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_channel.erl
  apps/emqx_gateway_lwm2m/test/emqx_lwm2m_SUITE.erl
Owners: @emqx/emqx-review-board, @lafirest

chore: format calls and map literal for readability
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_channel.erl
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_cmd.erl
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_schema.erl
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_session.erl
  apps/emqx_gateway_lwm2m/test/emqx_lwm2m_SUITE.erl
Owners: @emqx/emqx-review-board

feat(coap/lwm2m): Block-Wise Transfers feature
  apps/emqx_gateway_coap/src/emqx_coap_api.erl
  apps/emqx_gateway_coap/src/emqx_coap_blockwise.erl
  apps/emqx_gateway_coap/src/emqx_coap_channel.erl
  apps/emqx_gateway_coap/src/emqx_coap_frame.erl
  apps/emqx_gateway_coap/src/emqx_coap_schema.erl
  apps/emqx_gateway_coap/src/emqx_coap_session.erl
  apps/emqx_gateway_coap/test/emqx_coap_api_SUITE.erl
  apps/emqx_gateway_coap/test/emqx_coap_blockwise_SUITE.erl
  apps/emqx_gateway_coap/test/emqx_coap_channel_SUITE.erl
  apps/emqx_gateway_coap/test/emqx_coap_frame_SUITE.erl
  apps/emqx_gateway_coap/test/emqx_coap_session_SUITE.erl
  apps/emqx_gateway_coap/test/emqx_coap_test.hrl
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_channel.erl
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_schema.erl
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_session.erl
  apps/emqx_gateway_lwm2m/test/emqx_lwm2m_SUITE.erl
Owners: @emqx/emqx-review-board
